body{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(19, 19, 19);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    
  
    cursor: pointer;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: white;
}

.textos{
    display: block;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.btn{
    display: flex;
    background: rgb(21, 231, 109);
    width: 180px;
    height: 80px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    display: none;
    
}

.btn2{
    display: flex;
    background: rgb(58, 183, 255);
    width: 180px;
    height: 80px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    display: none;
    
}

